.btn-inline {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;

    &:hover {
        color: var(--color-grey-dark-1);
    }
}