.hotel-view {
    flex: 1;
    background-color: var(--color-white);
    // TESTING
    min-height: 80rem;
}

.detail {
    background-color: var(--color-grey-light-1);
    font-size: 1.4rem;
    display:flex;
    padding: 4.5rem;
    border-bottom: var(--line);
}